# Node.js server configuration
PORT=*port* #replace

# mysql configuration
MYSQLHOST= localhost
MYSQLUSER= root
MYSQLDATABASE= mysql
MYSQLPASSWORD= 'YOUR-PASSWORD-HERE' #replace
MYSQLPORT= 3306 #replace if needed