* {
  font-family: var(--font3);
}

.topContainer {
  width: 100%;
  text-align: center;
}
.heading {
  font-size: 30px;
  margin-bottom: 1%;
}

.contactContainer {
  width: 100%;
  min-height: 300px;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 5% 0;
}

.leftContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contactTel,
.contactEmail,
.contactAdr {
  background-color: #118df0;
  display: flex;
  padding: 4px;
  gap: 2rem;
  border-radius: 50px;
  margin-bottom: 7%;
}

.icon {
  color: #ececda;
  background-color: #040825;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.p {
  color: #ececda;
  margin-top: 1.1rem;
  font-size: 14px;
  font-weight: 400;
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formGrouop {
  flex-direction: column;
}
.formGroup input {
  width: 100%;
  flex: 1;
  display: flex;
  padding: 5px 0;
  border-radius: 5px;
  gap: 10px;
  border: 1px solid lightgray;
}

.formGroup textarea {
  width: 100%;
  height: 130px;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 5px;
}

.formGroup.invalid input {
  border-color: red;
  background-color: rgb(223, 182, 182);
}

.error {
  color: red;
}

.mapContainer {
  min-height: 300px;
  margin-bottom: 5%;
}
