.cart {
    display: flex;
}

.cartSummary {
    background-color: white;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 4;
    border: 1px solid rgba(128, 128, 128, 0.247);
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.105);
}

.item img{
    width: 100px;
}

.total {
    background-color: white;
    margin-left: 20px;
    flex: 1;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.247);
}

.checkoutBtn {
    width: 100%;
    font-size: 16px;
    font-family: var(--font3);
    font-weight: bold;
    background-color: var(--blue);
    border-radius: 0px;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.2s;
    margin: 5px 0;
}

.checkoutBtn:hover {
    background-color: rgb(10, 57, 140);
    transition: ease-in 0.2s;
}

button:disabled{
  background-color: #cccccc;
  color: #666666;
}

button:disabled:hover{
    background-color: #cccccc;
    color: #666666;
}

.totalPrice {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.horizontalLine {
    border-top: 1px solid rgba(152, 150, 150, 0.372);
    
}