* {
  font-family: var(--font3);
}

.addressContainer {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 1rem;
  background-color: #ececda;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5% auto;
}

.topContainer {
  width: 100%;
  text-align: center;
  padding: 2%;
  font-size: 30px;
}
.addressForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formGrop {
  display: flex;
  flex-direction: column;
}
