.navigation {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: blanchedalmond;
}

.logo {
    flex: 3;
}

.nav-links-container {
    flex: 1;
}

.nav-links {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

