.navigation {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    background-color: var(--darkBlue);
    color: white;
    font-family: var(--font3);
    font-weight: 600;
    align-items: center;
}

.navLinks {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.navLinks a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navLinks a:hover {
    color: var(--blue);
    transition: 0.3s;
}

.navLinks li {
    margin-left: 40px;
}