.navigation {
    display: flex;
    justify-content: space-evenly;
    background: rgb(4,8,37);
    background: linear-gradient(84deg, rgba(4,8,37,1) 0%, rgba(0,6,47,1) 100%);
    color: white;
    font-family: var(--font1);
    align-items: center;
    z-index: 99;
}

.navLinks {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.navLinks a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navLinks a:hover {
    color: var(--blue);
    transition: 0.3s;
}

.navLinks li {
    margin-left: 40px;
}

.cart {  
    position: relative;
    display: inline-block;
}

.cartIcon {
    color: var(--blue);
    font-size: 25px;
}

.cartTotalItems {
    font-size: 12px;
    position: absolute;
}

.cartSummary {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(20px);   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    display: flex;
    flex-direction: column;
    color: black;
    position: absolute;
    display: none;
    min-width: 300px;
    min-height: 75px;
    margin-top: -3px;
    right: 0px;
    left: auto;
    padding: 10px 5px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.166);
}

.cartSummary img {
    width: 70px;
    height: 80px;
}

.cartIconHover:hover ~ .cartSummary {
    display: block;
}

.cartSummary:hover {
    display: block;
}

.deleteIcon {
    color: gray;
    font-size: 23px;
    cursor: pointer;
}

.deleteIcon:hover {
    color: var(--red);
}

.totalCartPrice {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.checkoutBtn {
    width: 100%;
    font-size: 16px;
    font-family: var(--font3);
    font-weight: bold;
    background-color: var(--red);
    border-radius: 0px;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.2s;
}

.checkoutBtn:hover {
    background-color: rgb(186, 14, 14);
    transition: ease-in 0.2s;
}

button:disabled{
  background-color: #cccccc;
  color: #666666;
}

button:disabled:hover{
    background-color: #cccccc;
    color: #666666;
}

.logo img {
    width: 100px;
}

.accountIcon {
    font-size: 20px;
}