.productsContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
}

.filter {
    padding: 10px;
    background-color: white;
}

.filter > div {
    margin: 20px 0px;
}

.priceFilter input {
    width: 100px;
}

.priceFilter{
    display: flex;
    justify-content: space-around;
}

.shippingFilter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.products {
    background-color: white;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 70px;
    padding: 30px 0px;
}

.product {
    display: flex;
    flex-direction: column;
}

.product img {
    width: 230px;
    background-color: rgba(222, 222, 222, 0.205);
}


